<div class="ui tab segment active inverted">
<div id="chargen-grid" class="ui grid">
  <div class="three wide column">
    <div id="chargen-tabs" class="ui vertical sticky fluid tabular menu inverted">
      <router-link class="item" to="1">1: Background</router-link>
      <router-link class="item" to="2">2: Career</router-link>
      <router-link class="item" to="3">3: Interests</router-link>
      <router-link class="item" to="4">4: Faction</router-link>
      <router-link class="item" to="5">5: Aptitudes</router-link>
      <router-link class="item" to="6">6: Total Skills</router-link>
      <router-link class="item" to="7">7: Languages</router-link>
      <router-link class="item" to="8">8: Flex</router-link>
      <router-link class="item" to="9">9: Reputation</router-link>
      <router-link class="item" to="10">10: Customization</router-link>
      <router-link class="item" to="11">11: Derived Stats</router-link>
      <router-link class="item" to="12">12: Morph & Gear</router-link>
      <router-link class="item" to="13">13: Motivation</router-link>
    </div>
  </div>
  <div class="thirteen wide stretched column">
    <div class="ui tab segment inverted" id="chargen-1" data-tab="chargen-1">
      <vcomp-stepdesc v-if="chargen.length" :step="chargen[0]"></vcomp-stepdesc>
      
      <div class="ui three doubling cards inverted">
        <background-card v-for="background in backgrounds" :background="background" :key="background.name" />
      </div>
    </div>

    <div class="ui tab segment inverted" id="chargen-2" data-tab="chargen-2">
      <vcomp-stepdesc v-if="chargen.length" :step="chargen[1]"></vcomp-stepdesc>
      
      <div class="ui three doubling cards inverted">
        <career-card v-for="career in careers" :career="career" :key="career.name" />
      </div>
    </div>

    <div class="ui tab segment inverted" id="chargen-3" data-tab="chargen-3">
      <vcomp-stepdesc v-if="chargen.length" :step="chargen[2]"></vcomp-stepdesc>

      <div class="ui three doubling cards inverted">
        <interest-card v-for="interest in interests" :interest="interest" :key="interest.name" />
      </div>
    </div>

    <div class="ui tab segment inverted" id="chargen-4" data-tab="chargen-4">
      <vcomp-stepdesc v-if="chargen.length" :step="chargen[3]"></vcomp-stepdesc>

      <div class="ui three doubling cards inverted">
        <faction-card v-for="faction in factions" :faction="faction" :key="faction.name" />
      </div>
    </div>

    <div class="ui tab segment inverted" id="chargen-5" data-tab="chargen-5">
      <vcomp-stepdesc v-if="chargen.length" :step="chargen[4]"></vcomp-stepdesc>
      
      <div class="ui three doubling cards inverted">
        <aptemplate-card v-for="aptemp in aptemps" :aptemp="aptemp" :key="aptemp.name"></aptemplate-card>
      </div>
    </div>

    <div class="ui tab segment inverted" id="chargen-6" data-tab="chargen-6">
      <vcomp-stepdesc v-if="chargen.length" :step="chargen[5]"></vcomp-stepdesc>
      <div class="ui segment inverted">
        <h3>Skill List</h3>
        <table class="ui sortable celled table inverted">
          <thead>
            <tr class="center aligned">
              <th>Skill<br>Name</th>
              <th>Associated<br>Aptitude</th>
              <th>Skill<br>Type</th>
              <th>Description</th>
              <th>Sample<br>Specializations</th>
            </tr>
          </thead>
          <tbody>
            <tr v-if="skills.length" v-for="skill in skills">
              <td class="ui single line">{{skill.name}}<span v-if="skill.field">: [Field]</span></td>
              <td class="ui single line">{{skill.aptitude}}</td>
              <td class="ui single line">{{skill.type}}</td>
              <td v-html="skill.description"></td>
              <td>{{skill.specializations | commalist}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="ui tab segment inverted" id="chargen-7" data-tab="chargen-7">
      <vcomp-stepdesc v-if="chargen.length" :step="chargen[6]"></vcomp-stepdesc>
    </div>

    <div class="ui tab segment inverted" id="chargen-8" data-tab="chargen-8">
      <vcomp-stepdesc v-if="chargen.length" :step="chargen[7]"></vcomp-stepdesc>
    </div>

    <div class="ui tab segment inverted" id="chargen-9" data-tab="chargen-9">
      <vcomp-stepdesc v-if="chargen.length" :step="chargen[8]"></vcomp-stepdesc>

      <div class="ui three doubling cards inverted">
        <template v-for="reputation in reputations">
          <div class="ui centered card">
            <div class="content">
              <div class="header">{{reputation.name}}</div>
              <div class="description">{{reputation.description}}</div>
            </div>
          </div>
        </template>
      </div>
    </div>

    <div class="ui tab segment inverted" id="chargen-10" data-tab="chargen-10">
      <vcomp-stepdesc v-if="chargen.length" :step="chargen[9]"></vcomp-stepdesc>
    </div>

    <div class="ui tab segment inverted" id="chargen-11" data-tab="chargen-11">
      <vcomp-stepdesc v-if="chargen.length" :step="chargen[10]"></vcomp-stepdesc>
    </div>

    <div class="ui tab segment inverted" id="chargen-12" data-tab="chargen-12">
      <vcomp-stepdesc v-if="chargen.length" :step="chargen[11]"></vcomp-stepdesc>

      <div class="ui three doubling cards inverted">
        <template v-for="gearpack in gearpacks">
          <div class="ui centered card">
            <div class="content">
              <div class="header">{{gearpack.name}} - {{gearpack.type}}</div>
              <div class="description">
                <ul>
                  <li v-for="item in gearpack.gear">{{item}}</li>
                </ul>
                <template v-for="option in gearpack.options">
                  {{option.name}} extras:
                  <ul>
                    <li v-for="item in option.gear">{{item}}</li>
                  </ul>
                </template>
              </div>
            </div>
          </div>
        </template>
      </div>
    </div>

    <div class="ui tab segment inverted" id="chargen-13" data-tab="chargen-13">
      <vcomp-stepdesc v-if="chargen.length" :step="chargen[12]"></vcomp-stepdesc>
    </div>
    
  </div> <!-- Col2 end -->
</div> <!-- Grid end -->
</div>