<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body>
<div id="gear-grid" class="ui grid">
  <div class="two wide column">
    <div id="gear-tabs" class="ui vertical sticky fluid tabular menu inverted">
       <vcomp-gear-tab v-for="(catobj,catname) in categories" :category="catobj" :categoryname="catname" :key="catname"></vcomp-gear-tab>
    </div>
  </div>
  <div class="fourteen wide stretched column">
  	<vcomp-gear-section v-for="(catobj,catname) in categories" :category="catobj" :categoryname="catname" :key="catname"></vcomp-gear-section>
  </div>
</div>
</body>
<script>
	var vue_gear = new Vue({
	  el: '#gear-grid',
	  data: {
	    unsorted_gear: [],
	    gear_types: {}
	  },
	  computed: {
	  	categories: function() {
	  		let new_cats = {};

	  		//Iterate over what should be a rapidly shrinking list
	  		this.unsorted_gear.forEach(function(item_object){
	  			//What category is our contender?
	  			let category = item_object.category;
	  			
	  			//We already have that one though
	  			if(category in new_cats){return;}
	  			
	  			//Make our new object
	  			let new_category = {
	  				"text":"",
	  				"subcategories":{}
	  			};

	  			//Grab the text if it exists
	  			if(category in this.gear_types){
	  				if('text' in this.gear_types[category]){
	  					new_category.text = this.gear_types[category]['text'];
	  				}
	  			}
	  			
	  			//Get all my items
	  			let this_category = this.unsorted_gear.filter(function(maybe_mine,index){
	  					return maybe_mine.category == category;
	  			},this);

	  			//I wish I had subcategories
	  			this_category.forEach(function(my_item){
	  				let subcategory = my_item.subcategory;
	  				
	  				//Oh you already know I exist okay then
	  				if(subcategory in new_category.subcategories){
	  					new_category['subcategories'][subcategory].items.push(my_item);
	  					return; //Ok added bye
	  				}
	  				
	  				//Oh a first timer
	  				let new_subcategory = {
	  					"text":"",
	  					"items":[],
	  					"columns":["name"]
	  				};
	  				new_subcategory.items.push(my_item); //Hi I'm the first
	  				
	  				//Grab the text if it exists
	  				if(category in this.gear_types){
	  					if(subcategory in this.gear_types[category]['subcategories']){
	  						if('text' in this.gear_types[category]['subcategories'][subcategory]){
		  						new_subcategory.text = this.gear_types[category]['subcategories'][subcategory]['text'];
	  						}
	  					}
	  				}

	  				//Surely there's a better way...
	  				if(category in this.gear_types){
	  					if(subcategory in this.gear_types[category]['subcategories']){
	  						if('columns' in this.gear_types[category]['subcategories'][subcategory]){
		  						new_subcategory.columns = this.gear_types[category]['subcategories'][subcategory]['columns'];
	  						}
	  					}
	  				}

	  				new_category['subcategories'][subcategory] = new_subcategory;
	  			},this);
	  			new_cats[category] = new_category;
	  		},this);
	  		//Done!
	  		return new_cats;
	  	}
	  },
	  components: {
	  	vcompGearSection: gear_category_body,
	  	vcompGearTab: gear_category_tab
	  }
	});

	var gear_jsons = [
		"gear_bots.json",
		"gear_comms.json",
		"gear_creatures.json",
		"gear_drugs.json",
		"gear_items.json",
		"gear_mission.json",
		"gear_nano.json",
		"gear_security.json",
		"gear_software.json",
		"gear_swarms.json",
		"gear_vehicles.json",
		"gear_ware.json",
		"services.json",
		"weapons_melee.json",
		"weapons_ranged.json",
		"weapons_ammo.json",
		"gear_armor.json"
	];

	gear_jsons.forEach(function(file){
		$.getJSON('data/'+file).then( function(json){
			vue_gear.unsorted_gear.push.apply(vue_gear.unsorted_gear,json);
		});
	});

	$.getJSON('data/gear_text.json').then(function(json){vue_gear.gear_types = json;});

	function quickhelp(){
		for (const [key, value] of Object.entries(vue_gear.categories)) {
			console.log(key);
			let subcats = Object.keys(value.subcategories);
			console.log(subcats.join(", "));
		}
	}
</script>

</html>